body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  padding-top: 12px;
}

p {
  font-size: 16px;
  color: #666;
}

a:link {
  color: #FF4D5E;
  text-decoration: none;
}

a:visited {
  color: #FF4D5E;
  text-decoration: none;
}

a:hover {
  color: #1A1A1A;
  text-decoration: none;
}

a:active {
  color: #FF4D5E;
  text-decoration: none;
}

/* Nav
-----------------------------------------------------------*/
.logo {
  /*float: center;*/
  float: none;
  text-align: center;
  padding: 17px 0;
}

.navbar {
  background: #FFF;
  border: 0;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

/* Buttons
-----------------------------------------------------------*/
.container-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.button {
  background: #FF4D5E;
  font-size: 15px;
  vertical-align: middle;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  border-radius: 40px;
  margin: 20px auto;
  position: relative;
  padding: 12px 30px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

a.button:link {
  color: #FFF;
  text-decoration: none;
}

a.button:visited {
  color: #FFF;
  text-decoration: none;
}

a.button:hover {
  color: #FFF;
  text-decoration: none;
}

a.button:active {
  color: #FFF;
  text-decoration: none;
}

.container-appstore {
  width: 100%;
  text-align: center;
  padding: 20px;
}

/* Dish
-----------------------------------------------------------*/
.width {
  max-width: 480px;
  margin: auto;
}

.nopadding {
  padding: 0;
}

.dish {
  margin: 20px 0;
}

.dishbox {
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #D9D9D9;
  padding: 10px 15px;
}

.location {
  font-size: 15px;
  line-height: 1.2;
  color: #A6A6A6;
  font-weight: 400;
  margin: 10px 0;
}

.title-price {
  display: flex;
  flex-flow: row wrap;
}

.title {
  font-size: 16.5px;
  line-height: 1.2;
  color: #333;
  font-weight: normal;
  width: 70%;
}

.price {
  text-align: right;
  font-size: 16.5px;
  line-height: 1.2;
  color: #333;
  font-weight: 600;
  width: 30%;
}

.desc {
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  font-weight: normal;
  margin: 10px 0;
}

.space {
  height: 100px;
}

.author {
  display: none;
}

/* Media Queries
-----------------------------------------------------------*/
@media (max-width: 480px) {
  .dishbox {
    border-width: 0;
  }
  .dish {
    margin: 0;
  }
}
